.btn-detalle{
  background-color: black;
}

.btn-carrito{
  background-color: black;
}

button{
  transition: 0.7s;
  border-radius: 6px;
  border-color: rgb(255, 251, 251);
}

a{
  transition: 0.7s;
  border-radius: 6px;
  border-color: rgb(255, 251, 251);
}

button:hover{
  background-color: grey;
}

a:hover{
  background-color: grey;
}

p{
  margin-bottom: 0;
}