<div class="container w-25 my-5 px-0">
    <div>
        <h2 class="mb-4">Autenticá tu cuenta:</h2>
        <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit(authenticationForm.value)">
            <div class="mb-3">
                <label for="username" class="form-label d-none">Usuario:</label>
                <input type="text" placeholder="Usuario" name="username" id="username" class="form-control p-3" formControlName="username" required>
            </div>
            <div class="mb-3">
                <label for="confirmationCode" class="form-label d-none">Código:</label>
                <input type="text" placeholder="Código" name="confirmationCode" id="confirmationCode" class="form-control p-3" formControlName="confirmationCode" required>
            </div>
            <button type="submit" class="btn btn-dark fw-bold text-light p-3 sing-in rounded w-100">Autenticar</button>
        </form>
        <hr>
        <div class="mt-2">
            <span>Ya tenés cuenta? <a class="fw-bold" routerLink="/login">Iniciá sesión!</a></span>
        </div>
    </div>
</div>